@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-gray-700;
  }

  body {
    @apply font-sans antialiased;
  }
}

@layer utilities {
  .text-gradient {
    @apply bg-gradient-to-r from-sinx-primary to-sinx-secondary bg-clip-text text-transparent;
  }
}
